.image-container {
    position: relative;
    display: inline-block;
  }

  .image {
    max-width: 300px;
    height: auto;
    display: block;
  }

  .image-text {
    position: absolute;
    bottom: 40%;
    left: 0;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.7); */
    color: white;
    text-align: center;
    padding: 5px 0;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .image-container:hover .image-text {
    opacity: 1;
  }
  .scroll-main-container{
    display: flex;
    overflow-x: scroll;
  }