.body{
    margin: 0%;
    padding: 0%;
}



.fish-container{
    width: 80%;
    /* height: 900px; */
    border-radius: 10px;
    /* padding: 10px; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-left: 20px;
    
    
}
.fishweight-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid white;
    border-radius: 7px;
    width: 350px;
    
}

.fishcwecontainer{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 20px;
}
.fishCurry-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 15px;

}

.fishCurry-container>:nth-child(1){
    width: 50%;
    /* border: 1px solid black; */
}

.fishcontent-container{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.fishprice-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}
.fishprice-container span{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

}
.fishbtn{
    background-color: rgb(199, 161, 91);
    border-radius: 5px;
    margin-left: 20px;
    width: 150px;
    height: 30px;
    color: white;
}
.fishcontent{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}