
.header{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.header-logo{
    width: 100px;
    height: 80px;
    
}

.header-input-div{
  width: 17%;
  border: 1px solid #e7e7e7;
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 30px;
  border-radius: 6px;
  background-color: 
  #f8f8f8
  ;
  padding: 0px 10px;
}

@media (max-width:768px){
    .Category-bar{
        display: none;
    }
    .header-input-div{
        display: none !important;
    }
}

.header-input-div input {
    border: none;
    outline: none;
    background-color: transparent;
}
.Category-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-style: none;
}

.Category-bar>:nth-child(1){
    margin-right: 5px;
    width: 25px;
    height: 25px;
}

.Category-bar span{
    color: #0d0d0e;

    font-size: 14px;
}

.header-card{
    display: flex;
    border: 1px solid red;
    border-radius: 5px;
    padding: 4px 18px;
    align-items: center;
    justify-content: space-between;
    /* width: 15%; */
    text-decoration: none;
    color: black;
    font-style: none;
}

.header-card div{
    display: flex;
    flex-direction: column;
}

.header-card>:nth-child(1){
    color: red;
}

.header-card>div>:nth-child(2){
    color: rgb(231, 116, 22);
    font-weight: 700;
    font-style: italic;
}