.open-main-container{
    background-image: url("https://cdn.shopify.com/s/files/1/0718/8886/3552/files/Delivery_Guy.png?v=1681557814");
    width: 50%;
    height: 50vh;
    background-size: cover;
}