.below-imgcontainer{
    width: 100%;
    border-radius: 9px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.below-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 230px;
    margin-right: 11px;
    margin-bottom: 15px;
    border-radius: 7px;
    /* border: 1px solid black; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding:10px;
    height:350px;
}

.below-span{
    display: flex;
    flex-direction: row;
    /* margin: 12px; */
}
.below-span span {
    margin-left: 12px;
}
.Bmain-container{
    font-size: 18px;
    font-style: italic;
    width: 100%;
}
.mainRow-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* margin-right: 20px; */
    /* justify-content: space-between; */
       
}