.fresh-imgcontainer{
    width: 250px;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 6px;
}
.Fresh-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    border-radius: 7px;
    
   
    
}

@media (max-width:768px){
    .Fresh-container
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 7px;
    
   gap: 1rem;
    
}
}